/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Gotham;
  scroll-behavior: smooth;
}
/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

body{
  height: 300vh;
  /* overflow: hidden;  */
}

/* HEADER */
.header{
  background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/d0cecbbf-1a20-4b48-b136-fb096af19515/bvlatuR/std/2880x1800/model-3-main-hero-a-desktop')
  no-repeat center center/cover ;
  height: 100vh;
  width: 100%;
}

/* utility */
@font-face {
  font-family: Gotham ;
  src: url('/Gotham\ Medium.otf');
}
@font-face {
  font-family: Gotham-Light ;
  src: url('/Gotham\ Thin.otf');
}
/* scroll bar */
.scrollbar-container{
  position: absolute;
}
.scrollbar-list{
 position: fixed;
 display: flex;
 flex-direction: column;
 top: 36vh;
 left: 10px;
 list-style: none;
 padding: 0 5px;
}
.scrollbar-item{
  background-color: rgba(204, 204, 204, 0.4);
  height: 25px;
  width: 1px;
  margin: 2px;
  cursor: pointer;
  font-size: 0px;
}
.scrollbar-item::after{
  content: '';
  position: absolute;
  
}
.scrollbar-item:hover::after{
  content: '';
  position: absolute;
  font-size: 12px;
  color: rgba(252, 252, 252, 0.9);
  margin-left: 5px;
  animation-name: appear;
  animation: appear 0.2s linear;
}
/* scrollabr disapear media */
@media (max-width:900px) {
  .scrollbar-list{
    display: none;
  }
}
/* navbar */
.nav-container{
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  font-size: 13px;
  padding: 10px 40px;
  animation-name: appear;
  animation: appear 0.5s linear;
}

.nav-item{
  display: inline-block;
  margin: 14px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  z-index: 0;
}
.nav-item::before{
  content: '';
  position: absolute;
  display: none;
  background-color: grey;
  height: 2rem;
  width: 100%;
  top: -10px;
  left: -13px;
  padding: 2px 15px;
  border-radius: 10px;
  z-index: -1;
}
.nav-item:hover::before{
  display:inline;
  animation-name: nav;
  animation: nav 0.3s ease-in;
}
/* animation test */

/* nav animation */
@keyframes nav{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.logo-icon{
  width: 120px;

}
.model-name{
  font-size: 42px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.hidden-menu{
  display: none;  
  margin-left: auto;
  background-color: dimgrey;
  padding: 10px 20px;
  border-radius: 15px;
  opacity: 0.9;
}

/* specs bar */

.specs-container{
  margin-top: 55vh;
  
}
.specs-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* animation-name: appear2;
  animation: appear 0.5s linear; */
}
.specs-item{
  list-style: none;
  font-size: 30px;
  padding: 10px;
  margin: 0 30px;
  
  animation-name: appear2;
  animation: appear 0.5s ease-out 1;
  
}
.specs-item__sub{
  font-size: 12px;
  font-family: Gotham-Light;
  font-weight: bolder;
  margin: 5px;
}
.order-now-button{
  font-size: 12px;
  border:solid #fff 3px;
  border-radius: 20px;
  padding: 10px 60px;
  transition-duration: 0.5s;
  white-space: nowrap;
  cursor: pointer;
}
.order-now-button:hover{
  background-color: #fff;
  color: #000;
}
/* support chat */
.support-chat{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 0px 4px #000;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  left: 96%;
  top: 88%;
  cursor: pointer;
}

  /* scroll down button */
  .scroll-down-container{
    display: flex;
    align-items:baseline;
    justify-content: center;
    padding-bottom:20px ;
    position: relative;
  }
  .scroll-down{
  filter: invert(96%) sepia(9%) saturate(25%) hue-rotate(171deg) brightness(98%) contrast(91%); /* this is for coloring an svg*/
  animation-name: scroll;
  animation:scroll 3s ease-in-out infinite; 
}
/* scroll animation */
@keyframes scroll {
  10%{
    transform: translateY(10px);
  }
  20%{
    transform: translateY(0px);
  }
  30%{
    transform: translateY(5px);
  }
  50%{
    transform: translateY(0px);

  }
}
/* appear animation */
@keyframes appear{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes appear2{
  0%{
    transform: translateY(-50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
    
  }
}
.specs-item:nth-child(1){
  animation-delay: 0.2s;
}
.specs-item:nth-child(2){
  animation-delay: 0.4s;
}
.specs-item:nth-child(3){
  animation-delay: 0.6s;
}
.specs-item:nth-child(4){
  animation-delay: 0.8s;
}


  /* media query width*/

  @media (min-width: 1750px) {
    .model-name{
      margin-top: 100px;
    }
    .specs-container{
      margin-top: 580px;
    }
    .nav-container{
      margin-left: 50px;
      font-size: 14px;
    }
  }

@media (max-width:970px) {
    .hidden-menu{
      display: inline;
    }
    .nav-item{
      display: none;
    }
    .logo{
      margin-top:18px ;
    }
    .order-now-button{
      font-size: 10px;
      padding: 10px 80px;
    }
}
  @media (max-width:700px) {
    .order-now-button{
      font-size: 10px;
      padding: 10px 80px;
    }
}

@media (max-width:490px) {
  .specs-item{
    font-size: 20px;
    margin: 0 0px;
    padding: 0;
  }
  .order-now-button{
    font-size: 10px;
    padding: 10px 100px;
  }
}


/* height media querys */
@media (max-height: 650px) {
  .specs-container{
    margin-top: 35vh;
  }
}
@media (max-height: 550px) {
  .specs-container{
    margin-top: 20vh;
  }
}
@media (max-height: 350px) {
  .specs-container{
    top:200px;
  }
}

/* main page 2 */
.main-container{
  display: flex;
  align-items: center;
  justify-content: end;

}
/* car content */
.car-content{
  height: 100vh;
  width: auto;
  margin-right: 300px;
}
.car-point{
  position: absolute;
  border-left: solid #000;
  color: #000;
  height: 150px;
  width: 190px;
  font-size: 14px;
  padding-left: 5px;
}

.car-point::before{
  content: '';
  position: absolute;
  background-color: #fff;
  border: solid #000;
  border-radius: 50%;
  border-width: 2px;
  width: 5px;
  height: 5px;
  left: -6px;
  top: 100%;

}
#point-1{
  transform: translateY(100px);
  left: 40%;
}
#point-2{
  transform: translateY(190px);
  left: 26%;
  height: 25%;
}
#point-3{
  transform: translateY(500px);
  left: 43%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:end;
}
#point-3::before{
  top: 0%;
}
.car-point__inside-text{
  color: #000;
}

#car-image{
  background: url('/model-3-hero-a-desktop.jpg') no-repeat center center/cover;
  width: 900px;
  height: 800px;
}
/* aside */
.aside-content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20%;
  animation-name: appear;
  animation: appear 0.5s linear;
}
.aside-list{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.aside-item{
  color: #000;
  font-family: Gotham-Light;
  margin: 0.2rem;
}
#aside-bold{
  font-size: 1.5rem;
  font-family: Gotham;
  font-weight: bolder;
  margin-bottom: 4%;
}
#aside-grower{
  height: 50vh;
}
.btn-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.btn-item{
 color: #000;
 list-style: none;
 font-family: Gotham-Light;
 font-weight: bolder;
 font-size: 12px;
 /* white-space: nowrap; */
}
/* dark order button */
.order-now-button__dark{
  font-size: 12px;
  border:solid #000 3px;
  border-radius: 20px;
  padding: 10px 40px;
  transition-duration: 0.5s;
  font-weight: bolder;
  font-size: 12px;
  cursor: pointer;
}
.order-now-button__dark:hover{
  background-color: #000;
  color: #fff;
}
#plus{
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 15px;
  font-family: Gotham;
}

/* main media query */
@media (max-width: 1450px) {
  #aside-grower{
    height: 10rem;
  }
  .btn-item{
    color: #000;
    list-style: none;
    padding: 5px 10px;
   }

}
@media (max-width: 1600px) {
  .main-container{
    flex-direction: column;
  }
  .aside-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aside-content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  .btn-item{
    color: #000;
    list-style: none;
    padding: 10px 50px;
    /* margin: 0 20px; */
   }
  #aside-grower{
    height: 2rem;
  }
}
@media (max-width: 1200px) {

  .car-content{
   margin: 0;
   padding: 0;
   height: 50%;
  }
 #car-image{
   
   width: 25rem;
   height: 18rem;
 }
 .car-point{
  position: absolute;
  border-left: solid #000;
  color: #000;
  height: 50px;
  width: 120px;
  font-size: 14px;
  padding-left: 5px;
}
 #point-1{
  transform: translateY(50px);
  left: 50%;
}
#point-2{
  transform: translateY(80px);
  left: 40%;
  height: 10%;
}
#point-3{
  transform: translateY(150px);
  left: 50%;
}
}

@media (max-width: 600px) {
  .btn-item{
    color: #000;
    list-style: none;
    padding: 10px 20px;
    margin: 0 10px;
   }
   #point-2{
    transform: translateY(80px);
    left: 30%;
    height: 10%;
  }
}
@media (max-width: 400px) {

  .car-content{
   margin: 0;
   padding: 0;
   height: 30%;
  }
 #car-image{
   
   width: 20rem;
   height: 18rem;
 }
}
@media (max-width: 300px) {
 #car-image{
   width: 16rem;
   height: 12rem;
 }
}
/* footer */
#divider{
  height: 10px;
  width: 100vw;
}
.page-3-image{
  background: url('/lhd-performance-hero-desktop.jpg') no-repeat center center/cover;
  height: 80vh;
  z-index: -1;
}
#specs-container-2{
 margin: 0;
 padding: 0;
 position: relative;
 
}
.specs-list-2{
  position: absolute;
  bottom: 80px;
  left: 25%;
}
.specs-item2{
  text-align: center;
}
.description-container{
  display: flex;
  flex-direction: row;
  margin: 0 20%;
  animation-name: appear;
  animation: appear 0.5s linear;
}
.buttons-container{
 display: flex;
 flex-direction:column;
 padding: 40px 10px;
}
.btn-item-2{
 margin: 0 5px;
}
#btn-list-2{
  justify-content: start;
}
/* title */
.title-container{
  padding: 10px;
}
.title{
  color: #000;
  font-size: 1.8rem;
  font-weight: 100;
  padding-right: 3rem;
  white-space: nowrap;
  margin-bottom: 1rem;
}
.title-sub{
  color: #000;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: Gotham-Light;
}
.description{
  color: #000;
  font-family: Gotham-Light;
  font-weight: bold;
  font-size: 14px;
  padding: 2rem;
  word-spacing: 5px;
}
/* page 3 media width */
@media (max-width:1600px) {
  .description-container {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
  }
  .support-chat{
    left:94%;
  }
}
@media (max-width: 800px) {
  .support-chat{
    left:90%;
  }
}

@media (max-width:500px) {
  .title{
    white-space: wrap;
    font-size: 18px;
  }
  .support-chat{
    left:85%;
  }
}


/* height media page 3  */
@media (max-height: 650px) {
  .specs-container-2{
    margin-top: 35vh;
  }
}
@media (max-height: 550px) {
  .specs-container-2{
    margin-top: 20vh;
  }
}
@media (max-height: 350px) {
  .specs-container-2{
    top:200px;
  }
}

